body, html {
    background: #fff;
    padding: 0;
    margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
}

header {
    width: 100%;
    flex: 1 0 100%;
    min-height: 40px;
    background: red;
}

h1 {
    margin-bottom: 10px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-left: -2px;
    margin-bottom: 20px;
}

.breadcrumb > * {
    padding: 0 4px;
}

.breadcrumb svg {
    fill: #fb4f16;
}

.breadcrumb a {
    color: #fb4f16;
    text-decoration: none;
    font-weight: 500;
}

footer {
    padding-top: 10px;
    margin-top: 60px;
    border-top: 1px solid #cfd5d8;
}

section {
    flex: 0 1 55%;
    box-sizing: border-box;
    height: 100vh;
    background: #ffffff;
}

section + section {
    flex: 0 1 45%;
    background:#fafafa;
    border-left: 1px solid #e1e1e1;
}

.form-wrapper {
    max-width: 620px;
    margin: 0 40px 0 auto;
    box-sizing: border-box;
    padding: 60px 0;
    text-align: left;
}

.rebilly-summary {
    max-width: 460px;
    margin: 60px 0 0 40px;
}
